<div class="wrapper">
    <div  class="bodyForm" >

        <img src="../../../assets/images/imgRegister.png" alt="">
        <br>
        <h1>Register</h1>
        <br>
        <form (ngSubmit)="register()" [formGroup]="registerUsers">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email" required>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password" required>
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mt-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Repetir Password" formControlName="repeatPassword" required>
                <label for="floatingPassword">Repetir Password</label>
              </div>
              <div class="form-floating mt-3">
                <button class="btnAceptar" type="submit">Aceptar</button>
              </div>
              <div class="form-floating mt-2">
                <a [routerLink]="['/dashboard']">Volver</a>
              </div>

        


        </form>
    </div>
    <br>
</div>