<div class="containerDashboard">
  <app-carousel-products></app-carousel-products>
  <br><br>
  <div class="row">
    <div class="col-sm-8 containerNotices">
      <h1>Últimas Noticias</h1>
      <hr>
      <div class="notice" *ngFor="let notice of notices">
        <div class="headerNotice">
          <div>
            <h3>

              {{notice.titulo}}
            </h3>
          </div>

          <div>
            {{notice.fecha}}
          </div>
          <div>
            <button *ngIf="usuario.data.access == 1 &&  islogged()==true" (click)="deleteNotice(notice)">X</button>
          </div>
        </div>
        <div class="bodyNotice">
          {{notice.notice}}
          <hr>
          <p class="autor">
           Publicado por: {{notice.autor}}
          </p>
        </div>
        <hr>
      </div>

    </div>
    <div class="col-sm-4 feedIg">
      <app-feed-ig></app-feed-ig>

    </div>
  </div>

</div>
