<div class="social">
  <div>
    <ul class="listSocial mt-3">
      <li class="redes"><i class="fa-brands fa-facebook-f"></i></li>
      <li class="redes"><i class="fa-brands fa-instagram"></i></li>
      <li class="redes"><i class="fa-brands fa-youtube"></i></li>&nbsp;&nbsp;
      <li class="contact"><i class="fa-solid fa-phone"></i>&nbsp;2983 - 402258</li>

    </ul>


  </div>
  <div> </div>
  <div>


  </div>
</div>

<nav class="navbar navbar-expand-lg navMenu">
  <div class="container-fluid ">


    &nbsp;&nbsp;&nbsp;


    <a class="navbar-brand logo" href="#"
      >&nbsp;&nbsp;&nbsp; Chocomania</a>




    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>





    <div class="collapse navbar-collapse " id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll listNav" style="--bs-scroll-height: 150px; ;">
        <li class="nav-item"  [routerLink]="['/dashboard']">
          <a class="nav-link " aria-current="page" [routerLink]="['/dashboard']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/contacto']">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']">ProduCtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="pruebaheader()">Prueba</a>
        </li>
        <li class="nav-item dropdown drop">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Gallery 1</a></li>
            <li><a class="dropdown-item" href="#">Gallery 2</a></li>


          </ul>
        </li>




      </ul>
      <!-- CARRITO DE COMPRAS -->
      <a style="padding-right: 4px;" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="fa-solid fa-cart-shopping" style="font-size: 20px;color:#737373;"></i>
      </a>
      <!-- PANEL DE USUARIO,  -->
      <div class="d-flex " style="border-left: 1px solid;">
        <button class="btn " [routerLink]="['/login']" *ngIf="islogged()==false">Ingresar</button>
        &nbsp;&nbsp;
        <button class="btn " [routerLink]="['/registrar-usuario']" *ngIf="islogged()==false">Registrarse</button>
        &nbsp;&nbsp;&nbsp;



        <div class="dropdown drop" style="margin-right:150px;" *ngIf="islogged()==true">
          <a class="nav-link dropdown-toggle prueba" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Panel </a>

          <ul class="dropdown-menu dropPerfil ">
            <li><a class="dropdown-item" href="#" *ngIf="usuario.data.access !== 0">Control</a></li>
            <li><a class="dropdown-item" href="#">Mi perfil</a></li>
            <li><a class="dropdown-item" href="#"></a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" role="button" (click)="logout()">Salir</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>


<app-modal-cart></app-modal-cart>
