<div style="height: 1200px;text-align: center;">
    <br>
    <h1>Prueba Login FireBase</h1>
    <table style="margin:auto;">
        <tr>
            <td><button class="btn btn-primary" (click)="prueba1()">Prueba 1</button></td>
            <td><button class="btn btn-primary">Prueba 2</button></td>
            <td><button class="btn btn-primary">Prueba 3</button></td>
        </tr>
    </table>
<br>

    <form action="">
        <label for="Nombre">Nombre</label>

        <br>
        <br>
        <button (click)="insertar()" class="btn btn-primary">Guardar</button>
    </form>
</div>
