<div class="wrapper">
  <app-spinner *ngIf="loading==true"></app-spinner>
    <div class="bodyForm" *ngIf="loading==false">
        <img src="../../../assets/images/imgLogin.png" alt="">
        <br>
        <h1>Recuperar password</h1>
        <br>
        <div  class="alert alert-warning" role="alert">

          <i class="fa-sharp fa-solid fa-circle-info"></i>&nbsp;&nbsp; Es posible que el Email se almacene en la casilla de Spams
        </div>
   
        <form  (ngSubmit)="recoverUsers()" [formGroup]="recoverUser">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                <label for="floatingInput">Email address</label>
              </div>
          
              <div class="form-floating mt-3">
                <button class="btnRecuperar" type="submite">Recuperar Password</button>
              </div>
              <div class="form-floating mt-2">
                <a [routerLink]="['/login']">Volver</a>
              </div>

        


        </form>
    </div>
    <br>
    
</div>