.wrapper {
    background-color: rgb(236, 236, 236);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    

}

.bodyForm img {
    display: block;
    width: 200px;
    filter: drop-shadow(8px 8px 4px black);
    margin: auto;
}

.bodyForm {
    width: 400px;
    padding: 15px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.btnVerificar {
    width: 100%;
    height: 40px;

    padding: 5px;
    border: none;
    background-color: #0DCAF0;
    border-radius: 3px;
    color: white;
}
.showEmail{
    margin-top: 20px;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

