
 <div class="wrapper" *ngIf="!this.logg()">
    <div class="bodyForm" >
        <img src="../../../assets/images/imgLogin.png" alt="">
        <br>
        <h1>Login</h1>
        <br>
        <form  (ngSubmit)="login()" [formGroup]="logInUser">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"  formControlName="email">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password"  formControlName="password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mt-3">
                <button class="btnIngresar">Ingresar</button>
              </div>



        </form>
        <div class="form-floating mt-1">
          <button class="btnGoogle" (click)="logInWithGoogle()"><i class="fa-brands fa-google-plus-g"></i> Ingresar con Google</button>
        </div>

        <div class="form-floating mt-1">
          <button class="btnFacebook"  (click)="loginWithFacebook()"> <i class="fa-brands fa-facebook-f"></i> Ingresar con Facebook</button>
        </div>
        <div class="form-floating mt-3">
          Aun no tienes cuenta? Registrate <a [routerLink]="['/registrar-usuario']">Aquí</a>
        </div>
        <div class="form-floating mt-3">
          Olvido su contraseña? click <a   [routerLink]="['/recuperar-password']">Aquí</a>
        </div>
    </div>
    <br>

</div>
